.logos {
  padding: 115px 169px 115px;
  border: 1px solid var(--block-liner, rgba(254, 241, 225, 0.2));
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(57px);
  -webkit-backdrop-filter: blur(57px); /* Префикс для Safari */
  position: relative;
  overflow: hidden;
}
.logos_abs_bg_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.logos_wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.logo_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.logo_line_item-top {
  height: 140px;
  width: auto;
  padding: 22px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  
}
.logo_line_item-top:nth-of-type(odd) {
  border-radius: 10px;
  border: 0.2px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
}
.logo_line_item-top:nth-of-type(even) {
  border-radius: 10px;
  border: 0.2px solid var(--Glass, #fff);
  background: var(--black-cards, #1d1d1d);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
}
.logo_line_item-top:hover {
  border-radius: 10px;
  border: 0.2px solid var(--Glass, #fff);
  background: var(--violet, #6c01f6);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
  transition: all 0.3s;
}
.logos_animated_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_line_item-bot {
  height: 140px;
  width: auto;
  padding: 22px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
  transition: all 0.3s;
}
.logo_line_item-bot:hover {
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--violet, #6c01f6);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
  transition: all 0.3s;
}
.bot_black {
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--black-cards, #1d1d1d);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px); /* Префикс для Safari */
}
.animated_text_image {
  height: 110px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo_line_mob {
  display: none;
}
.logo_line_mobile {
  display: none;
}

@media (max-width: 1740px) {
  .logo_line {
    gap: 20px;
  }
}
@media (max-width: 1380px) {
  .logo_line {
    display: none;
  }
  .logo_line_mob {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .logo_line_item-top {
    padding: 22px 27px;
  }
  .animated_text_image {
    margin: 0;
  }
  .logos_abs_bg_img {
    left: -50%;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .logos {
    padding: 59px 40px;
  }
  .change-color_gray {
    background: var(--Glass, rgba(255, 255, 255, 0.2)) !important;
  }
  .change-color-black {
    background: var(--black-cards, #1d1d1d) !important;
  }
}
@media (max-width: 820px) {
  .logo_line_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .logo_line_mob {
    display: none;
  }
  .logo_line_item-bot {
    padding: 9.5px;
  }
  .logo_line_item-top {
    padding: 13.5px;
  }
  .logo_1_img {
    width: 106.579px;
    height: 18px;
  }
  .logo_2_img {
    width: 62.527px;
    height: 17.143px;
  }
  .logo_8_img {
    width: 60px;
    height: 28.286px;
    /* background: var(--Glass, rgba(255, 255, 255, 0.2)) !important; */
  }
  
  .logo_3_img {
    width: 86.715px;
    height: 28.286px;
  }
  .logo_4_img {
    width: 29.143px;
    height: 29.143px;
  }
  .logo_5_img {
    width: 95.714px;
    height: 25.714px;
  }
  .logo_9_img {
    width: 43.286px;
    height: 35.143px;
  }
  .logo_6_img {
    width: 75.956px;
    height: 17.143px;
  }
  .logo_7_img {
    width: 50.287px;
    height: 25.286px;
  }
  .logo_10_img {
    width: 95.759px;
    height: 17.143px;
  }
  .logo_11_img {
    width: 53.143px;
    height: 48px;
  }
  .logo_12_img {
    width: 40.698px;
    height: 41.143px;
    /* background: var(--Glass, rgba(255, 255, 255, 0.2)) !important; */
  }
  .logo_13_img {
    width: 100.983px;
    height: 22.714px;
  }
  .logo_14_img {
    width: 146.239px;
    height: 12.857px;
  }
  .logo_15_img {
    width: 63.986px;
    height: 22.714px;
    /* background: var(--Glass, rgba(255, 255, 255, 0.2)) !important; */
  }
  .logo_20_img {
    width: 65.872px;
    height: 27.429px;
  }
  .logo_17_img {
    width: 82.505px;
    height: 27px;
    /* background: var(--Glass, rgba(255, 255, 255, 0.2)) !important; */
  }
  .logo_line_item-top {
    height: 60px;
  }
  .logo_line_item-bot {
    height: 60px;
  }
  .logos_wrapper {
    gap: 20px;
  }
  .animated_text_image {
    height: auto;
    width: 320px;
  }
  .logos_abs_bg_img {
    left: -70px;
    width: 375px;
    height: auto;
  }
  .upgrade_padding {
    padding: 9.429px;
  }
  .change-color-purple {
    background: var(--violet, #6c01f6) !important;
  }
  .logos {
    padding: 40px 20px;
  }
}
