.main {
  width: 100svw; /* Full viewport width */
  height: 100svh; /* Full viewport height initially */
  position: relative;
  overflow: hidden;
}
.main_wrapper {
  padding-top: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 15px;
  position: relative;
}
#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;

  min-height: 100%; /* Ensure the video covers the height */
}

.main_image_wrapper {
  height: 100%;
}
.main_image {
  height: 100%;
}
.main_text_wrapper {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #fff;
  font-kerning: none;
  font-feature-settings: 'ss03' on, 'ss05' on, 'ss08' on, 'ss09' on, 'ss10' on, 'liga' off,
    'clig' off, 'rclt' off;
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 200;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 16px;
  max-width: 680px;
}
.main_subtext {
  color: #ff8902;
  font-kerning: none;
  font-feature-settings: 'ss03' on, 'ss05' on, 'ss08' on, 'ss09' on, 'ss10' on, 'liga' off,
    'clig' off, 'rclt' off;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.main_button {
  display: flex;
  width: 320px;
  height: 54px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s;
}
.main_button:hover {
  background: #6c01f6;
  color: #fff;
  transition: all 0.3s;
}
.main_abs1,
.main_abs2,
.main_abs3 {
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 22px 42px;
  gap: 10px;
  position: absolute;
}
.main_abs_text {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.main_abs1 {
  max-width: 277px;
  top: 50%;
  left: 5%;
}
.main_abs2 {
  max-width: 293px;
  top: 15%;
  left: 50%;
}
.main_abs3 {
  max-width: 375px;
  top: 80%;
  left: 70%;
}
.main_abs4,
.main_abs5 {
  border-radius: 15px;
  border: 1px solid #fff;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(4px);
  width: 100%;
  padding: 22px 42px;
  gap: 10px;
  position: absolute;
}

.main_abs4 {
  max-width: 375px;
  top: 82%;
  left: 20%;
  z-index: -1;
}
.main_abs5 {
  max-width: 300px;
  top: 27%;
  left: 70%;
  z-index: -1;
}
.mob_search {
  display: none;
}
.mob_field {
  display: none;
}
@media (max-width: 1870px) {
  .main_abs1 {
    backdrop-filter: blur(32.54216766357422px);
  }
}
@media (max-width: 1770px) {
  .navbar {
    max-width: 300px;
  }
}
@media (max-width: 1430px) {
  .main_wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 1390px) {
  .main_subtext {
    max-width: 600px;
  }
  .main_abs3 {
    left: 60%;
  }
  .main_abs4 {
    left: 10%;
  }
  .popup_links {
    padding-left: 100px;
  }
}
@media (max-width: 1190px) {
  .main_wrapper {
    flex-direction: column-reverse;
    padding-top: 164px;
    gap: 34px;
  }
  .main {
    height: auto; /* Allow the section height to grow */
  }

  #myVideo {
    width: 100%; /* Stretch video to full width */
    height: auto; /* Adjust height to maintain aspect ratio */
    min-height: 100%; /* Make sure it covers the section's height */
  }
  .main_text_wrapper {
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
  }
  .main_subtext {
    text-align: center;
    margin-bottom: 32px;
  }
  .main_image {
    width: 413px;
    height: 711px;
  }
  .main_image_wrapper {
    align-self: flex-start;
  }
  .main_abs1 {
    left: initial;
    top: initial;
    left: 40px;
    bottom: 207px;
  }
  .main_abs2 {
    left: initial;
    top: initial;
    right: 158px;
    bottom: 512px;
  }
  .main_abs3 {
    left: initial;
    top: initial;
    right: 62px;
    bottom: 205px;
  }
  .main_abs4 {
    left: initial;
    top: initial;
    bottom: 53px;
    left: 200px;
  }
  .main_abs5 {
    left: initial;
    top: initial;
    right: -62px;
    bottom: 398px;
  }
  .main_abs1,
  .main_abs2,
  .main_abs3,
  .main_abs4,
  .main_abs5 {
    padding: 19px 28px;
  }

  .desk_search {
    display: none;
  }
  .popup_burger_wrapper {
    width: 188px;
  }
  .header_burger-wrapper {
    width: 188px;
  }

  /* Basic wrapper styling */
  .mob_search_wrapper {
    border-radius: 5px;
    background: var(--white, #fff);
    padding: 10px;
    padding-bottom: 5px;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 52px;

    margin-top: 28px;
    position: relative;
    z-index: 1;
  }
  .mob_search {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 32px;
    min-width: 32px;
  }
  .field_mob {
    border: 0;
    border-bottom: 1px solid black;
    height: 25px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    width: 225px;
    margin-right: 5px;
  }
  .mob_field {
    display: block;
  }
  .popup_links {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    max-width: 458px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main_image {
    width: 233px;
    height: 441px;
  }
  .main_image_wrapper {
    align-self: center;
  }
  h1 {
    font-size: 28px;
    max-width: 335px;
  }
  .main_subtext {
    font-size: 18px;
    max-width: 335px;
  }
  .main_button {
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    max-width: 220px;
    padding: 18px 20px;
    height: 47px;
  }
  .main_abs_text {
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 8.591px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 10.309px */
    text-transform: uppercase;
  }
  .main_abs1,
  .main_abs2,
  .main_abs3,
  .main_abs4,
  .main_abs5 {
    padding: 10px 16px;
    border-radius: 4px;
  }
  .main_abs1 {
    width: 132px;
    padding: 10px 20px;
    left: initial;
    bottom: initial;
    top: 248px;
    right: 18px;
    display: inline-flex;
    border: 0.477px solid rgba(254, 241, 225, 0.4);
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
  .main_abs2 {
    width: 146.205px;
    padding: 10px 20px;
    left: initial;
    bottom: initial;
    top: 457px;
    right: 10px;
    display: inline-flex;
    border: 0.5px solid rgba(254, 241, 225, 0.4);
    background: rgba(255, 255, 255, 0.1);
  }
  .main_abs3 {
    display: inline-flex;
    padding: 8px 12px;
    width: 162px;
    font-size: 6px;
    left: 12px;
    top: 338px;
    bottom: initial;
    border: 0.477px solid rgba(254, 241, 225, 0.4);
    background: rgba(255, 255, 255, 0.1);
  }
  .main_abs4 {
    display: inline-flex;
    padding: 8px 16px;
    width: 162px;
    font-size: 6px;
    right: initial;
    bottom: initial;
    left: 19px;
    top: 439px;
    border-radius: 10px;
  }
  .main_abs5 {
    width: 144.303px;
    padding: 10px 20px;
    border-radius: 10px;
    right: 27px;
    left: initial;
    top: 509px;
    bottom: initial;
  }
  .text1 {
    font-size: 9px;
  }
  .text2 {
    font-size: 8.5px;
  }
  .text3 {
    font-size: 6.5px;
  }

  .header_burger-wrapper {
    border: 0;
    background: transparent;
    backdrop-filter: none;
    width: auto;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
  }
  .header_logo-wrapper {
    border: 0;
    background: transparent;

    width: auto;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
  }
  header {
    padding-top: 0;
    border-radius: 0px 0px 5px 5px;
    border-right: 1px solid rgba(254, 241, 225, 0.4);
    border-bottom: 1px solid rgba(254, 241, 225, 0.4);
    border-left: 1px solid rgba(254, 241, 225, 0.4);
    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(27px); /* Префикс для Safari */
  }
  .header_logo_img {
    height: 32px;
  }
  .main_wrapper {
    padding-top: 113px;
  }
  h1 {
    margin-bottom: 8px;
  }
  .main_subtext {
    margin-bottom: -15px;
  }
}
