.popup {
  height: 100svh;
  width: 100svw;
  position: fixed;
  top: 0;
  left: 100%;
  background: linear-gradient(180deg, #5e01d5 16.2%, #ff8902 135%);
  transition: all 0.5s;
  padding-top: 32px;
  z-index: 4;
}
.open {
  left: 0;
  transition: all 0.5s;
}
.close-button,
.search-button {
  height: 40px;
  width: 40px;
  transition: all 0.3s;
}
.close-button {
  margin-right: 20px;
}
.close-button:hover,
.search-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s;
}
.popup_links {
  padding-left: 250px;
  padding-top: 134px;
}
.navbar {
  display: flex;
  flex-direction: column;
  max-width: 523px;
  justify-content: flex-start;
  gap: 32px;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.nav_number {
  color: #fff;
  font-family: 'Biryani';
  font-size: 24px;
  font-weight: 900;
  line-height: 160%;
  text-transform: uppercase;
}
.nav_text {
  color: #fff;
  font-family: 'Biryani', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 160%;
  text-transform: uppercase;
}
.nav_icon {
  margin-left: auto;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_icon img {
  width: 30px;
  height: 30px;
}
@media (min-width: 960px) {
  .rotate_it {
    transform: scale(-1, 1);
    transition: all 0.3s;
  }
}

@media (max-width: 960px) {
  .rotate_it {
    transform: scale(-1, 1);
    transition: all 0.3s;
    transform: rotate(90deg);
  }
  /* .nav_link:hover .nav_icon {
    transform: scale(-1, 1);
    transition: all 0.3s;
    transform: rotate(90deg);
  } */
}
.nav_link:hover img {
}
.sec_popup,
.trd_popup {
  width: 60%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.3s;
  background-color: #fff;
}
.appear_left {
  left: 45%;
  transition: all 0.3s;
}

.add_border {
  border: 1px solid #17171b;
  transition: all 0.3s;
}

.popup_content_wrapper {
  padding-left: 120px;
  padding-top: 262px;
}
.popup_title {
  color: #000;
  font-family: 'Biryani', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 160%; /* 38.4px */
  text-transform: uppercase;
  margin-bottom: 24px;
}
.popup_links_wrapper {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.popup_links_item {
  color: #000;
  font-family: 'Biryani', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
  transition: all 0.3s;
}
.popup_links_item:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.popup_burger {
  display: flex;
  align-items: center;
}
.popup_burger_wrapper {
  width: auto;
  padding-right: 83px;
}
.search_field {
  position: relative;
  width: 0px;
  visibility: hidden;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
}

.search_field input {
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.close-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  border-radius: 15.999px;
  background: rgba(217, 217, 217, 0.4);
}
.change_color {
  color: black;
}

.show_search .close-search {
  visibility: visible;
  opacity: 1;
}

.show_search {
  width: 250px;
  opacity: 1;
}

.show_item {
  visibility: visible;
}

.hide_item {
  visibility: hidden;
  opacity: 0;
}
.hide_search-button {
  display: none;
}
.search-button {
  margin-right: 20px;
}
.field {
  width: 100%;
  height: 30px;
  padding-right: 30px; /* Space for the close button */
  box-sizing: border-box;
  border: none; /* Remove the default border */
  border-bottom: 1px solid #fff; /* Add an underline */
  outline: none; /* Remove the default outline on focus */
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  color: #fff; /* Text color */
}
.come_black {
  color: black;
  border-bottom: 1px solid black;
}
.popup_arrow-back {
  display: none;
}
@media (max-width: 1190px) {
  .sec_popup,
  .trd_popup {
    width: 100svw;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 101;
  }

  .appear_left {
    left: 5%;
    transition: all 0.3s;
  }

  .popup_content_wrapper {
    padding-top: 275px;
  }
  .popup_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  .popup_arrow-back {
    display: block;
    font-size: 16px;
    color: #5d00d5;
    font-family: 'Biryani', sans-serif;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
    transition: all 0.3s;
  }
  .popup_arrow-back:hover {
    opacity: 0.6;
    transition: all 0.3s;
  }
}
