.solutions {
  padding-top: 180px;
  padding-bottom: 180px;
  width: 100%;
}
.solutions_wrapper {
  width: 100%;
  margin: 0 auto;
}

.solutions_title {
  margin-bottom: 68px;
}
.solutions_content_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sol_item_title {
  color: var(--white, #fff);
  text-align: center;
  font-family: 'Biryani', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 110%; /* 24.2px */
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}
.sol_item_text {
  color: var(--white, #fff);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 110%;
}
.text_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.solutions_items__l {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.solutions_items__l_t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.solutions_items__l_t_l {
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--black-cards, #1d1d1d);
  width: 340px;
  height: 140px;
  padding-top: 36px;
  padding-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}
.solutions_items__l_t_l_text {
  max-width: 181px;
}
.solutions_items__l_t_r {
  width: 220px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.solutions_items_l_b {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.solutions_items_l_b_l {
  width: 220px;
  height: 400px;
  padding-top: 36px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
  position: relative;
  overflow: hidden;
}
.solutions_items__l_b_l_title {
  max-width: 158px;
}
.solutions_items__l_b_l_text {
  max-width: 181px;
}
.solutions_items_l_b_r {
  width: 340px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 33px;
  padding-bottom: 22px;
  overflow: hidden;
  position: relative;
}

.solutions_items__l_b_r_text {
  max-width: 154px;
}
.solutions_items__c {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.solutions_items__c_t {
  width: 220px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
  padding-top: 37px;
}
.solutions_items__c_t_title {
}
.solutions_items__c_t_text {
  max-width: 181px;
}
.solutions_items__c_b {
  width: 220px;
  height: 190px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--black-cards, #1d1d1d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.solutions_items__c_b_title {
  z-index: 5;
  display: block;
}
.solutions_items__c_b_text {
  display: block;
  max-width: 176px;
  z-index: 5;
}
.solutions_items__r {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.solutions_items__r_t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.solutions_items__r_t_l {
  width: 220px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--black-cards, #1d1d1d);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 26px;
  overflow: hidden;
}
.solutions_items__r_t_l_title {
  display: block;
  z-index: 5;
}
.solutions_items__r_t_l_text {
  display: block;
  z-index: 5;
  max-width: 167px;
}
.solutions_items__r_t_r {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.solutions_items__r_t_r_t {
  display: flex;
  width: 340px;
  height: 160px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
}

.solutions_items__r_t_r_t_title {
  z-index: 5;
}

.solutions_items__r_t_r_t_text {
  z-index: 5;
  max-width: 211px;
}
.solutions_items__r_t_r_b {
  display: flex;
  width: 340px;
  height: 170px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: #1d1d1d;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.solutions_items__r_t_r_b_title {
  max-width: 220px;
  z-index: 5;
}
.solutions_items__r_t_r_b_text {
  max-width: 204px;
  z-index: 5;
}
.solutions_items__r_b {
  width: 580px;
  height: 190px;
  border-radius: 10px;
  border: 1px solid var(--Glass, #fff);
  background: var(--Glass, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(37px);
  padding-bottom: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.solutions_items__r_b_title {
}

.solutions_items__r_b_text {
  max-width: 226px;
}

.soltion_googleAds_img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 220px;
  top: 20px;
  -webkit-mask-image: url('../img/solutions/googleAds.svg');
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('../img/solutions/googleAds.svg');
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  animation: GAmove 7s infinite;
  animation-play-state: paused;
}
.solutions_items__l_t_l:hover {
  cursor: pointer;
}
.solutions_items__l_t_l:hover .soltion_googleAds_img {
  animation-play-state: running;
}
.solution_ggoleAds_img_gradient {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 1.56%,
    #fff 50.13%,
    rgba(255, 255, 255, 0.1) 100%
  );
  animation: GAbgmove 7s infinite;
  animation-play-state: paused;
}
.solutions_items__l_t_l:hover .solution_ggoleAds_img_gradient {
  animation-play-state: running;
}
@keyframes GAmove {
  0% {
    width: 100px;
    height: 100px;
  }
  25% {
    width: 150px;
    height: 150px;
  }

  75% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
@keyframes GAbgmove {
  0% {
  }
  25% {
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
  }
}
.solutions_items__l_t_r_img {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  animation: upShowBack 7s infinite;
  animation-play-state: paused;
}
.solutions_items__l_t_r:hover {
  cursor: pointer;
}
.solutions_items__l_t_r:hover .solutions_items__l_t_r_img {
  animation-play-state: running;
}
@keyframes upShowBack {
  0% {
    top: 140px;
    transform: scale(1);
  }
  25% {
    top: 0;
    transform: scale(1);
  }
  40% {
    top: 0;
    transform: scale(1.4);
  }
  75% {
    top: 0;
    transform: scale(1);
  }
  100% {
    top: 140px;
    transform: scale(1);
  }
}
.solutions_items__l_b_l_img {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: upRotateBack 7s infinite;
  animation-play-state: paused;
}
.solutions_items_l_b_l:hover .solutions_items__l_b_l_img {
  animation-play-state: running;
}
@keyframes upRotateBack {
  0% {
    transform: scale(1);
    right: 0;
  }
  1% {
    transform: rotate(0deg);
  }
  25% {
    transform: scale(1.5);

    right: 50px;
  }
  50% {
    transform: scale(1.5) rotate(60deg);
  }
  51% {
    transform: rotate(60deg) scale(1.5);
  }

  75% {
    transform: rotate(0deg);
    right: 50px;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    right: 0;
  }
}
.soltion_webd_img {
  width: 250px;
  height: 239px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-mask-image: url('../img/solutions/webd.svg');
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('../img/solutions/webd.svg');
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  animation: scaleMoveMovescale 7s infinite;
  animation-play-state: paused;
}
.solution_webd_img_gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 250px;
  height: 239px;
  background: radial-gradient(60.34% 58.59% at 51.37% 49.47%, #fff 0%, rgba(255, 255, 255, 0) 100%);

  animation: WebDgradChange 7s infinite;
  animation-play-state: paused;
}
.solutions_items_l_b_r:hover .soltion_webd_img {
  animation-play-state: running;
}
.solutions_items_l_b_r:hover .solution_webd_img_gradient {
  animation-play-state: running;
}
@keyframes scaleMoveMovescale {
  0% {
  }
  20% {
    transform: scale(0.7);
    top: 50px;
    right: 0;
  }
  40% {
    transform: scale(0.7);
    top: 50px;
    right: 0;
  }
  60% {
    top: 0;
    right: 150px;
    transform: scale(0.7);
  }
  80% {
    top: 0;
    right: 150px;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes WebDgradChange {
  0% {
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(2);
  }
  60% {
    transform: scale(2);
  }
  80% {
    transform: scale(1);
  }
  100% {
  }
}
.solutions_items__c_b_img {
  position: absolute;
  bottom: -150px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  animation: upShowBack2 7s infinite;
  animation-play-state: paused;
}
.solutions_items__c_b:hover .solutions_items__c_b_img {
  animation-play-state: running;
}
.solutions_items__c_b:hover {
  cursor: pointer;
}
@keyframes upShowBack2 {
  0% {
    bottom: -150px;
    transform: scale(1);
  }
  25% {
    bottom: 0;
    transform: scale(1);
  }
  40% {
    bottom: 20px;
    transform: scale(1.4);
  }
  75% {
    bottom: 0;
    transform: scale(1);
  }
  100% {
    bottom: -150px;
    transform: scale(1);
  }
}
.solutions_items__r_t_l_img {
  width: 316px;
  height: 316px;
  position: absolute;
  top: -24px;
  right: -64px;
  animation: upShowRotate 7s infinite;
  z-index: 1;
  animation-play-state: paused;
}
.solutions_items__r_t_l:hover {
  cursor: pointer;
}
.solutions_items__r_t_l:hover .solutions_items__r_t_l_img {
  animation-play-state: running;
}

@keyframes upShowRotate {
  0% {
    top: -24px;
    right: -64px;
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
    right: -30px;
    top: 0;
  }
  30% {
    transform: scale(1.3) rotate(120deg);
  }
  60% {
    transform: scale(1.3) rotate(120deg);
  }
  80% {
    transform: scale(1.3);
    right: -30px;
    top: 0;
  }
  100% {
    top: -24px;
    right: -64px;
    transform: scale(1);
    right: -64px;
    top: -24px;
  }
}
.solutions_items__r_t_r_b_img {
  position: absolute;
  left: -56px;
  width: 200px;
  z-index: 1;
  opacity: 0;
  animation: showWidthback 5s infinite;
  animation-play-state: paused;
}
@keyframes showWidthback {
  0% {
    left: -56px;

    opacity: 0;
  }
  20% {
    width: 200px;

    opacity: 1;
  }
  30% {
    width: 330px;
  }
  70% {
    width: 330px;
  }
  80% {
    opacity: 1;
    width: 200px;
  }
  100% {
    left: -56px;
  }
}
.solutions_items__r_t_r_b:hover {
  cursor: pointer;
}
.solutions_items__r_t_r_b:hover .solutions_items__r_t_r_b_img {
  animation-play-state: running;
}

.solutions_items__r_t_r_t_img {
  position: absolute;
  right: -276px;
  top: -132px;
  animation: showWidthback2 5s infinite;
  animation-play-state: paused;
  opacity: 0;
}
.solutions_items__r_t_r_t:hover {
  cursor: pointer;
}
.solutions_items__r_t_r_t:hover .solutions_items__r_t_r_t_img {
  animation-play-state: running;
}
@keyframes showWidthback2 {
  0% {
    right: -276px;
    top: -132px;
    opacity: 0;
    transform: scale(1);
  }
  20% {
    right: -276px;
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1.7);
    right: -100px;
  }
  60% {
    right: -100px;
    transform: scale(1.7);
  }
  80% {
    transform: scale(1);
    right: -276px;
    top: -132px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
