.history-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 140px;
}

.history-section__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 79.2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 57px;
}

.history-section__image-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px; 
    overflow-x: hidden; 
    white-space: nowrap;
    transition: overflow-x 0.3s ease-in-out; 
}

.history-section__image {
    min-width: 1800px;
    height: 639px;
}

/* .simplebar-content {
    display: flex;
    justify-content: flex-end;
} */

.simplebar-track.simplebar-horizontal {
    height: 6px; 
    background-color: #969696; 
    border-radius: 3px; 
    margin: 15px;
}

.simplebar-scrollbar:before {
    background-color: #ff7a00;
    border-radius: 3px; 
}

.simplebar-scrollbar:hover:before {
    background: #ff7a00; 
}


@media screen and (max-width: 1810px) {
    .history-section__image {
        min-width: 1700px;
        height: auto;
    }
}

@media screen and (max-width: 1500px) {
    .history-section__image-container {
        overflow-x: auto; 
        justify-content: initial;
    }

    .history-section__image {
        min-width: 1500px;
        height: 539px;
    }
}

@media screen and (max-width: 1200px) {
    .history-section__title {
        font-size: 60px;
        line-height: 66px;
    }
}

@media screen and (max-width: 910px) {
    .history-section__title {
        font-size: 48px;
        line-height: 52.8px;
    }
}

@media screen and (max-width: 750px) {
    .history-section {
        margin-top: 120px;
    }
    .history-section__title {
        font-size: 36px;
        line-height: 52.8px;
    }
}

@media screen and (max-width: 570px) {
    .history-section__title {
       max-width: 330px;
    }

    .history-section__image {
        min-width: 1800px;
        height: 460px;
    }

}

