.history-section {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    background-color: #1D1D1D;
}

.history-section__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 79.2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 57px;
}

/* Контейнер для изображения */
.history-section__image-container {
    width: 100%;
    overflow-x: auto; /* Только горизонтальная прокрутка */
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
}

/* Само изображение */
.history-section__image {
    display: block; /* Избегаем лишних отступов */
    width: auto; /* Естественная ширина изображения */
    height: auto; /* Сохраняем пропорции */
    min-width: 1500px; /* Минимальная ширина изображения для скролла */
}

/* Стилизация горизонтального скроллбара */
.history-section__image-container::-webkit-scrollbar {
    height: 4px; /* Толщина скроллбара */
}

.history-section__image-container::-webkit-scrollbar-track {
    background: #9696961b; /* Цвет фона скроллбара */
}

.history-section__image-container::-webkit-scrollbar-thumb {
    background: #ff7a00; /* Цвет ползунка */
    border-radius: 3px;
}

.history-section__image-container::-webkit-scrollbar-thumb:hover {
    background: #ff5500; /* Цвет ползунка при наведении */
}

/* Дополнительные стили для адаптации */
@media screen and (max-width: 1200px) {
    .history-section__title {
        font-size: 50px;
        line-height: 66px;
    }
}

@media screen and (max-width: 910px) {
    .history-section__title {
        font-size: 38px;
        line-height: 52.8px;
    }

    .history-section {
        padding-top: 120px;
    }
}

@media screen and (max-width: 570px) {
    .history-section__title {
        margin: 10px auto;
        font-size: 36px;
        width: 330px;
    }

    .history-section__image {
        height: auto;
    }
}
