.history-section {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    background-color: #1D1D1D;
}

.history-section__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 79.2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 57px;
}

.history-section__image-container {
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    width: 100%;
    overflow-x: hidden;
}

.history-section__image {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1500px) {
    .history-section__title {
        font-size: 60px;
    }

    .history-section__image-container {
        overflow-x: auto; 
        white-space: nowrap; 
        justify-content: initial;
    }

    .history-section__image {
        width: auto; 
        min-width: 1500px; 
        height: auto; 
    }
}

@media screen and (max-width: 1200px) {
    .history-section__title {
        font-size: 50px;
        line-height: 66px;
    }
}

@media screen and (max-width: 910px) {
    .history-section__title {
        font-size: 38px;
        line-height: 52.8px;
    }

    .history-section {
        padding-top: 120px;
    }
}

@media screen and (max-width: 570px) {
    .history-section__title {
       margin: 10px auto;
       font-size: 36px;
       width: 330px;
    }

}
