.footer-partners {
    display: flex;
    flex-direction: column;
    margin: 220px auto;
}

.footer-partners__title {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 79.2px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 42px;
}

.footer-partners__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.footer-partners__logo-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.footer-partners__row--small .footer-partners__logo {
    flex: 1 1 20%;
    max-width: 180px;
}

.footer-partners__row--large .footer-partners__logo {
    flex: 1 1 20%;
    max-width: 180px;
}

@media (max-width: 1300px) {
    .footer-partners__wrap {
        flex-wrap: wrap;
    }

    .footer-partners__logo-container {
        justify-content: center;
    }

    /* .footer-partners__row--small .footer-partners__logo {
        flex: 1 1 25%;
        max-width: 100px;
    }

    .footer-partners__row--large .footer-partners__logo {
        flex: 1 1 33.333%;
        max-width: 150px;
    } */
}

@media (max-width: 768px) {
    .footer-partners__wrap {
        flex-direction: column;
        align-items: center;
    }

    .footer-partners__logo-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 625px) {

    .footer-partners__title {
        font-size: 36px;
    }

    .footer-partners__row--small .footer-partners__logo {
        max-width: 80px;
    }

    .footer-partners__row--large .footer-partners__logo {
        max-width: 120px;
    }
}


@media (max-width: 540px) {
    .footer-partners {
        margin: 120px auto;
    }

    .footer-partners__row--small .footer-partners__logo,
    .footer-partners__row--large .footer-partners__logo {
        max-width: 100px;
        flex: 1 1 auto;
    }
}