.prefooter {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 466px;
    border: 1px solid rgba(254, 241, 225, 0.40);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(57px);
    position: relative;
    margin-top: 180px;
}

.ind {
    margin-bottom: 180px;
}

.prefooter__title {
    position: absolute;
    top: 212px;
    right: 252px;
    z-index: 2;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
    display: block;
}

.prefooter__title span {
    display: inline-block;
    padding: 0;
    margin-right: -0.05em; 
    animation: blink 1s alternate 2s;
}

.prefooter__title span:empty {
    margin-right: 0.2em; 
}

.prefooter__title span:nth-child(1) { animation-delay: 2s; }
.prefooter__title span:nth-child(2) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(3) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(4) { animation-delay: 2.6s; }
.prefooter__title span:nth-child(5) { animation-delay: 2.8s; }
.prefooter__title span:nth-child(6) { animation-delay: 2s; }
.prefooter__title span:nth-child(7) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(8) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(9) { animation-delay: 2.6s; }
.prefooter__title span:nth-child(10) { animation-delay: 2.8s; }
.prefooter__title span:nth-child(11) { animation-delay: 2s; }
.prefooter__title span:nth-child(12) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(13) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(14) { animation-delay: 2.6s; }
.prefooter__title span:nth-child(15) { animation-delay: 2.8s; }
.prefooter__title span:nth-child(16) { animation-delay: 2s; }
.prefooter__title span:nth-child(17) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(18) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(19) { animation-delay: 2.6s; }
.prefooter__title span:nth-child(20) { animation-delay: 2.8s; }
.prefooter__title span:nth-child(21) { animation-delay: 2s; }
.prefooter__title span:nth-child(22) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(23) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(24) { animation-delay: 2.6s; }
.prefooter__title span:nth-child(25) { animation-delay: 2.8s; }
.prefooter__title span:nth-child(26) { animation-delay: 2s; }
.prefooter__title span:nth-child(27) { animation-delay: 2.2s; }
.prefooter__title span:nth-child(28) { animation-delay: 2.4s; }
.prefooter__title span:nth-child(29) { animation-delay: 2.6s; }

.prefooter__button {
    display: flex;
    width: 320px;
    height: 54px;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 312px;
    right: 252px;
    z-index: 2;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.prefooter__button:hover {
    background-color: #6c01f6;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.prefooter__image-sphere {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.prefooter__image-svg {
    position: absolute;
    top: 0;
    left: 180px;
    z-index: 0;
}

.prefooter__image-half-sphere,
.prefooter__image-mobile-sphere,
.prefooter__image-mobile-svg {
    display: none;
}

.footer-business__gif {
    position: absolute;
    top: 112px;
    right: 252px;
    z-index: 1;

}

@media screen and (max-width: 1582px) {
    .prefooter__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 1318px) {
    .prefooter__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1058px) {
    .prefooter__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 939px) {
    .prefooter__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .footer-business__gif {
        left: 50%;
        transform: translateX(-50%);
    }

    .ind {
        margin-bottom: 140px;
    }
}

@media screen and (max-width: 834px) {
    .prefooter {
        margin-top: 140px;
    }

    .prefooter__image-sphere {
        display: none;
    }

    .prefooter__image-svg {
        left: -160px;
    }

    .prefooter__image-half-sphere {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .prefooter__button {
        top: 259px;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-business__gif {
        max-width: 400px;
    }

    .prefooter__title {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: none; 
        opacity: 1; 
    }

    .prefooter__title span {
        animation: blink 1s alternate 2s; 
    }
}

@media screen and (max-width: 600px) {
    .prefooter {
        min-height: 305px;
        margin-top: 0px;
    }

    .footer-business__gif {
        max-width: 300px;
        top: 80px;
    }

    .prefooter__image-half-sphere {
        display: none;
    }

    .prefooter__image-mobile-sphere {
        display: block;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 1;
    }

    .prefooter__image-svg {
        display: none;
    }

    .prefooter__image-mobile-svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .prefooter__title {
        font-size: 18px;
    }

    .prefooter__button {
        top: 176px;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
        height: 47px;
    }
}

@media screen and (max-width: 500px) {
    .prefooter__title {
        font-size: 14px;
    }

    .ind {
        margin-top: 20px;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 400px) {
    .prefooter__title {
        font-size: 12px;
    }

    .prefooter {
        margin-top: 120px;
    }
}
