.portfolio-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 180px auto;
  gap: 64px;
  position: relative;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 700px;
  max-height: 585px;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
}

.slider-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.slider-container .slider-image:not(:first-child) {
  display: none;
}

.slider-container_btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 20px;
  gap: 17px;
}

.slider-container_btn {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}

.active-btn {
  height: 40px;
  width: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-container__title {
  color: #fff;
  font-family: Biryani;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.text-container__button {
  display: block;
  width: 320px;
  height: 54px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.text-container__button:hover {
  background-color: #6c01f6;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 1230px) {
  .portfolio-section {
    padding: 0 50px;
  }
}

@media (max-width: 1030px) {
  .slider-container_btns {
    left: 10px;
    top: 30%;
  }
}

@media (max-width: 834px) {
  .portfolio-section {
    flex-direction: column;
    gap: 80px;
    margin: 140px auto;
  }

  .slider-container_btns {
    left: 10px;
    top: 40%;
  }
}

@media (max-width: 500px) {
  .portfolio-section {
    padding: 0 20px;
  }

  .slider-container_btns {
    left: 10px;
    top: 30%;
  }

  .text-container__button {
    width: 220px;
    padding: 18px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .text-container__title {
    max-width: 339px;
  }
}
