.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px 220px;
    background-color: #1D1D1D;
}

.offer__title {
    color: #FFF;
    text-align: center;
    font-kerning: none;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 79.2px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.offer__container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.offer__container {
    display: flex;
    width: 420px;
    height: 502px;
    padding: 48px 38px;
    flex-direction: column;
    align-items: center;
    border-radius: 15.204px;
    border: 1.52px solid #FFF;
    background: var(--Glass, rgba(255, 255, 255, 0.20));
    backdrop-filter: blur(56.25337600708008px);
    box-sizing: border-box;
    overflow: hidden;
}

.offer__container--position {
    position: absolute;
    bottom: 48px;
    left: 38px;
    z-index: 1;
}

.offer__container-title {
    color: #FFF;
    font-family: Biryani;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.8px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.offer__container-text {
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.6px;
}

.offer__container-image1 {
    display: flex;
    width: 300.366px;
    height: 299px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform-origin: top left;
    animation: pendulum 10s ease-in-out infinite;
}

@keyframes pendulum {
    0% {
        transform: rotate(55deg);
    }

    50% {
        transform: rotate(-55deg);
    }

    100% {
        transform: rotate(55deg);
    }
}

.offer__container-image2 {
    display: flex;
    width: 293px;
    height: 292px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    animation: rollBackAndForth 10s ease-in-out infinite alternate;
}

@keyframes rollBackAndForth {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(-50px) rotate(-45deg);
    }

    50% {
        transform: translateX(-100px) rotate(-90deg);
    }

    75% {
        transform: translateX(-50px) rotate(-135deg);
    }

    100% {
        transform: translateX(0) rotate(-180deg);
    }
}

.offer__container-image3 {
    width: 230.4px;
    height: 230.4px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    animation: rotateAndScale 10s ease-in-out infinite alternate;
}

@keyframes rotateAndScale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(90deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes gradientShift {
    0% {
        stop-color: #620CD1;
    }

    50% {
        stop-color: #9747FF;
    }

    100% {
        stop-color: #F7931E;
    }
}

#paint0_radial_6323_12201 stop:nth-child(1) {
    animation: gradientShift 5s ease-in-out infinite;
}

#paint0_radial_6323_12201 stop:nth-child(2) {
    animation: gradientShift 5s ease-in-out infinite 0.5s;
}

#paint0_radial_6323_12201 stop:nth-child(3) {
    animation: gradientShift 5s ease-in-out infinite 1s;
}

.offer__image-bg {
    position: absolute;
    right: 0;
    top: 1400px;
    width: 1015.083px;
    height: 1206.554px;
    flex-shrink: 0;
}

@media (max-width: 1520px) {
    .offer {
        padding: 100px 100px 220px;
    }

    .offer__container-wrapper {
        gap: 40px;
    }

    .offer__container {
        width: 380px;
        height: 452px;
        padding: 38px 28px;
    }

    .offer__container-title {
        font-size: 26px;
        line-height: 28.6px;
    }

    .offer__container-image1 {
        width: 280.366px;
        height: 279px;
    }

    .offer__container-image2 {
        width: 273px;
        height: 272px;
    }

    .offer__container-image3 {
        width: 210.4px;
        height: 210.4px;
    }

    .offer__image-bg {
        width: 815.083px;
        height: 1006.554px;
    }
}

@media (max-width: 1270px) {
    .offer {
        padding: 100px 50px 220px;
    }

    .offer__container-wrapper {
        gap: 20px;
    }

    .offer__container {
        width: 340px;
        height: 402px;
        padding: 28px 18px;
    }

    .offer__container-title {
        font-size: 24px;
        line-height: 26.4px;
    }

    .offer__container-image1 {
        width: 260.366px;
        height: 259px;
    }

    .offer__container-image2 {
        width: 253px;
        height: 252px;
    }

    .offer__container-image3 {
        width: 150.4px;
        height: 150.4px;
    }

    .offer__image-bg {
        width: 615.083px;
        height: 806.554px;
    }
}

@media (max-width: 1120px) {
    .offer {
        padding: 100px 20px 220px;
    }

    .offer__title {
        font-size: 48px;
    }

    .offer__container-wrapper {
        flex-direction: column;
        gap: 60px;
    }

    .offer__container {
        width: 420px;
        height: 502px;
        padding: 48px 38px;
        gap: 32px;
    }

    .offer__container-title {
        font-size: 28px;
        line-height: 30.8px;
    }

    .offer__container-image1 {
        width: 400.366px;
        height: 399px;
    }

    .offer__container-image2 {
        width: 293px;
        height: 292px;
    }

    .offer__container-image3 {
        width: 193px;
        height: 192px;
    }

    .offer__image-bg {
        width: 1015.083px;
        height: 1206.554px;
        top: 2000px;
    }
}

@media (max-width: 475px) {
    .offer__title {
        font-size: 36px;
        line-height: 39.4px;
    }

    .offer__container {
        width: 335px;
        height: 350px;
        padding: 42px 32px;
    }

    .offer__container-title {
        font-size: 22px;
        line-height: 24.4px;
        margin-bottom: 0;
    }

    .offer__container-text {
        font-size: 20px;
        line-height: 22.4px;
    }

    .offer__container-image1 {
        width: 240.366px;
        height: 239px;
    }

    .offer__container-image2 {
        width: 233px;
        height: 232px;
    }

    .offer__container-image3 {
        width: 130.4px;
        height: 130.4px;
    }

    .offer__image-bg {
        width: 715.083px;
        height: 906.554px;
    }
}