.preference-section__black-item--dev {
    padding-left: 8px !important;
    padding-right: 341px !important;
    padding-top: 69px !important;
    padding-bottom: 176px !important;
}

.preference-section__black-text-container--dev,
.preference-section__black-text-container-title--dev {
    max-width: 471px !important;
}

.preference-section__black-item:hover .preference-section__black-text-container-title--dev {
    transform: translate(300px, 130px) !important;
}

@media screen and (max-width: 825px) {
    .preference-section__black-item:hover .preference-section__black-text-container-title--dev {
        transform: translate(280px, 80px) !important;
    }
}

@media screen and (max-width: 670px) {
    .preference-section__black-item--dev {
        padding-left: 8px !important;
        padding-right: 10px !important;
        padding-top: 69px !important;
        padding-bottom: 176px !important;
    }

    .preference-section__black-item:hover .preference-section__black-text-container-title--dev {
        transform: translateY(20px) !important;
    }
}