.hw-main__title--service-detail {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 82px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    text-transform: uppercase;
}