.comments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 220px;
    padding-bottom: 220px;
    gap: 15px;
    background-color: #111111;
}

.commets__top-left-block,
.commets__top-right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 690px;
}

.commets__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.commets__text {
    color: #FFF;
    font-family: Biryani;
    font-size: 18px;
    font-style: normal;
    font-weight: 275;
    line-height: 28.8px;
    margin-bottom: 22px;
}

@media screen and (max-width: 1500px) {
    .comments {
        padding: 220px 50px;
    }
}

@media screen and (max-width: 834px) {
    .comments {
        flex-direction: column;
        padding: 140px 20px;
    }

    .commets__top-left-block,
    .commets__top-right-block {
        width: 100%; 
        max-width: 754px; 
        flex-wrap: wrap;
    }
}
